.products {
  /* padding: 1rem 0; */
  z-index: 234;
  background-color: #fff;
}
.products-detail {
  margin-top: 4.5rem;
}
/* .banner {
  background: url("../Product\ List/Banner.png") no-repeat;
} */

.left .icon-control {
  margin-top: 5px;
  float: right;
}
.right .top {
  position: relative;
}

.right .form .fa-search {
  top: unset;
  left: unset;
  color: var(--primary);
}
.right .prod-item {
  margin-top: 2rem;
}

.card {
  border: none;
  outline: none;
  transition: all 0.3s ease;
}
.card:hover {
  /* box-shadow: 0 4px 15px rgba(#000, 0.3); */
  box-shadow: 0px 2px 3px 1px #c7c7c7;
  transform: scale(1.025);
  /* z-index: 11; */
}

.accordion-button:not(.collapsed) {
  background-color: unset;
  color: unset;
}

.accordion-button:focus {
  box-shadow: unset;
}
.fa-times:before {
  padding-right: 5px;
}
.accordion-item {
  margin-bottom: 1rem;
}

.accordion-item form {
  padding: 1rem 0;
}

.accordion-item label {
  margin-left: 1rem;
}

.accordion-button {
  padding: 1rem 0;
}
.accordion-button::after {
  content: "\f0d7";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  background: unset;
  width: unset;
  height: unset;
}
.accordion-button:not(.collapsed)::after {
  content: "\f0d7";
  color: var(--oren);
  background: unset;
}

.prod-item .card-body p {
  font-size: 0.8em;
  margin-bottom: unset;
}

.right .form-control,
.right .form-control::placeholder {
  color: var(--primary);
}

.filter-top .btn {
  padding: unset;
  color: var(--dark-grey);
}

.filter-top .btn:focus {
  box-shadow: unset;
}
.page-item {
  padding: 0 0.75rem;
}

.table {
  width: 70%;
}

tr .title-prod {
  border-bottom: unset;
  text-transform: uppercase;
}

.title-prod p {
  margin-bottom: 0;
}
.title-prod h4 {
  font-size: 3em;
  font-weight: 900;
}
.prod-item:hover {
  color: unset;
}

.table > :not(caption) > * > * {
  padding-left: 0;
}

.products-detail .btm {
  margin: 9rem 0;
}
.products-detail .prod-item {
  margin-top: 2rem;
}

.related-title {
  font-weight: 900;
}
