.projects-gallery {
  padding: 7rem 0;
  position: relative;
}
.projects-gallery .carousel-inner .gallery-wrapper {
  gap: 0.35rem;
}
.projects-gallery .box {
  padding: 2%;
}
.carousel {
  margin-top: 2rem;
}
.carousel,
.carousel-inner {
  position: unset;
}
.carousel-control-next {
  right: 4%;
}
.carousel-control-next,
.carousel-control-prev {
  width: 0;
  display: block;
  color: var(--primary);
}
.desc-projects {
  padding: 10px 20px;
}
