/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

@import url("font-awesome/css/fontawesome-all.min.css");

@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;500;600;700;800&display=swap");

/* root */

:root {
  --primary: #211f1d;
  --primary-body: #4c5052;
  --oren: #fdd247;
  --grey: #a5a5a5;
  --dark-grey: #7d7d7d;
  --font: "Urbanist", sans-serif;
  --title: 40pt;
}

body {
  font-family: var(--font);
  color: var(--primary-body);
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  /* color: #ffc56e; */
  text-decoration: none;
}

main {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font);
}

.about .row,
.satisfaction .row {
  padding: 3.5rem 0;
}

.btn-view-all {
  padding: 0.8rem 2.5rem;
  background: var(--oren);
  color: #0c1817;
  font-weight: 500;
  font-size: 0.9em;
  border-radius: 10px;
  transition: 0.3s;
}

.btn-view-all:hover {
  background: #ceab38;
  color: #0c1817;
}

.title {
  font-weight: 800;
  color: #000;
}

.fs-40 {
  font-size: var(--title);
}

.fs-50 {
  font-size: 50pt;
}

.title-2 {
  font-weight: 600;
}

.about .row,
.contact .row {
  margin-right: 0;
}

.dots,
.hexagon {
  position: absolute;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: rgb(20, 223, 20);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header.header-page {
  top: 0;
  background: rgba(26, 24, 22, 1);
}

#header {
  top: 50px;
  right: 0;
  height: 70px;
  z-index: 997;
  transition: all 0.5s;
  padding: 10px 0;
  background: rgba(26, 24, 22, 0.55);
}

#header.header-trans {
  background: rgba(26, 24, 22, 0.85);
}

#header.header-scrolled {
  top: 0;
  background: #000;
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.85rem;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px 0 10px 24px; */
  font-size: 15px;
  font-weight: 500;
  color: white;
  white-space: nowrap;
  transition: 0.3s;
}

.nav-link:focus {
  color: #fff;
}

.navbar .list-group {
  padding-left: 1rem;
}

.navbar a:hover,
.navbar .active,
.nav-link:hover,
.navbar li:hover > a {
  color: var(--oren);
}
/* .dropdown-hover:hover > .dropdown-menu {
  display: inline-block;
} */

.dropdown-hover > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  /* pointer-events: none; */
}

.dropdown-menu {
  width: 70%;
  background: rgba(26, 24, 22, 0.85);
  border-radius: 5pt;
}
.dropdown-menu[data-bs-popper] {
  margin-top: 1.35rem;
}

.dropdown-menu p {
  color: #fff;
  font-weight: 800;
}

.dropdown-menu .list-group-item {
  padding: unset;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  background-color: transparent;
}

.dropdown-menu .list-group-item:hover {
  color: var(--oren);
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(39, 37, 34, 0.9);
  transition: 0.3s;
  z-index: 0;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 8px;
  background: rgba(26, 24, 22, 0.85);
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #fff;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: var(--oren);
}

.navbar-mobile .getstarted {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: var(--oren);
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}
.form {
  margin-left: 1rem;
}
.form-control {
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 0;
}
.form .fa-search {
  position: absolute;
  /* top: 18px; */
  left: 20px;
  color: var(--oren);
}

.form-input {
  text-indent: 33px;
  border-bottom: 1px solid var(--grey);
  color: var(--grey);
}

.form-input:focus {
  box-shadow: none;
  color: var(--grey);
  border-bottom: 2px solid var(--grey);
  background-color: transparent;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background-color: rgba(39, 37, 34, 0.8);
  overflow: hidden;
  padding: 0;
}

#hero .carousel-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero .carousel-item::before {
  content: "";
  background-color: rgba(12, 11, 10, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-container {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 6%;
  right: 0;
}

#hero .carousel-content {
  width: 50%;
}

#hero h2 {
  color: #fff;
  font-size: 50pt;
  font-weight: 800;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-indicators li {
  background-color: transparent;
  border: 1px solid var(--grey);
}

#hero .carousel-indicators .active {
  background-color: var(--oren);
  border: 1px solid var(--oren);
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 30px;
  line-height: 0;
  width: auto;
  height: auto;
  /* background: rgba(255, 255, 255, 0.2); */
  border-radius: 50px;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero .carousel-control-next-icon:hover,
#hero .carousel-control-prev-icon:hover {
  /* background: rgba(255, 255, 255, 0.3); */
  color: rgba(255, 255, 255, 0.8);
}

#hero .carousel-indicators li {
  cursor: pointer;
}

.carousel-indicators {
  margin-bottom: 2rem;
}
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

#hero .hex {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hex .hex-loop {
  bottom: 0;
  left: 0;
  opacity: 0.3;
  position: absolute;
  z-index: 11;
  animation: rotate 8s linear infinite;
}

@media (min-width: 1024px) {
  #hero p {
    width: 50%;
  }
  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }
}

/* banner */
/* .banner {
  padding: 5rem 0;
} */
.banner {
  margin-top: 70px;
  position: relative;
  z-index: -1;
}

.banner .img {
  position: relative;
}

.banner .ime {
  background-color: rgb(13 35 97);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.55;
}

.banner .cover-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner .cover-banner h1 {
  font-size: 55px;
  font-weight: 800;
  width: 100%;
  margin-top: 5%;
  text-align: left;
  position: relative;
}
.banner-hex {
  position: absolute;
  right: -5%;
  bottom: -50%;
}
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumb {
  margin-bottom: 3rem;
  padding: 0.7rem 0;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 70px;
  }
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  padding-bottom: 5rem;
}
.about .content {
  padding: 0 80px;
}
.about .row {
  position: relative;
}
.about .content h3 {
  color: var(--primary);
}

.about .content p {
  font-size: 15px;
  color: var(--primary);
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .sub-story .story-icon {
  line-height: 40px;
  margin-right: 15px;
}

.about .sub-story .story-icon::before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: var(--oren);
}

.about .info-story .text-uppercase {
  letter-spacing: 1.2px;
}

.about .content ul li + li {
  margin-top: 15px;
}

.about .content ul li {
  position: relative;
  padding-left: 26px;
}

.about .content ul i {
  font-size: 20px;
  color: var(--oren);
  position: absolute;
  left: 0;
  top: 2px;
}

.about .content p:last-child {
  margin-bottom: 0;
}
.st-hex {
  z-index: -89;
  right: -20%;
  bottom: -100%;
  text-align: end;
}
/* Satisfaction */
.satisfaction {
  background: #fafafa;
  position: relative;
  padding: 2rem 0;
}

.sf-dots {
  left: 5%;
  top: -15%;
}

.satisfaction p {
  font-weight: 500;
}

/* Product */
.product {
  background: url("../Homepage/product\ -\ background\ paralax.png") fixed
    center center;
  background-size: cover;
  width: 100%;
  height: 80vh;
  position: relative;
  margin-top: 3rem;
}

.product::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 0.25) 70%,
    transparent 100%
  );
  z-index: 1;
  opacity: 1;
  transition: opacity 550ms ease;
}

.product .product-decor {
  position: absolute;
  width: 100%;
  right: 0;
  display: flex;
  justify-content: space-between;
}

.product .product-decor .left {
  position: relative;
  left: 0;
  top: 0;
}

.product .product-decor .right {
  position: relative;
  right: 0;
  top: 0;
}

.product .info-product {
  box-shadow: 0px 0px 2px 0px #ddd;
  position: relative;
  width: 75%;
  margin: 0 auto;
  padding: 1.5rem 0;
  background-color: #fff;
  top: -5rem;
  text-align: center;
}

.product .info-product p {
  color: var(--dark-grey);
}

.product .text-product {
  z-index: 111;
  position: relative;
  color: white;
}

.product .product-img {
  position: relative;
  z-index: 111;
  bottom: 0;
  top: 10%;
  margin-top: 2.9rem;
}

.product-img::after {
  content: url("../Homepage/product\ -\ yellow\ circle.png");
  position: absolute;
  bottom: 0;
  right: -5%;
}

.prod-hex {
  bottom: -130%;
  right: -22%;
}

.info-product .center {
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
}

.img-box {
  overflow: hidden;
  position: relative;
}

.img-box img {
  transition: all 0.3s;
}

.text {
  position: absolute;
  top: 43%;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 99;
  color: #fff;
  font-weight: 800;
  transition: all 0.3s;
}

.btn-view {
  width: 100%;
  position: absolute;
  bottom: 150px;
  opacity: 0;
  left: 0;
  text-align: center;
  z-index: 99;
  transition: all 0.3s;
}

.img-box:hover .text {
  transform: translateY(-1.5rem);
}

.img-box:hover .btn-view {
  bottom: 150px;
  opacity: 1;
}

/* Gallery */
.gallery {
  margin-top: 28.5rem;
  margin-bottom: 2rem;
  position: relative;
}

.g-hex {
  left: -20%;
  bottom: -30%;
}

.gallery .box {
  height: auto;
  position: relative;
}

.gallery .box-1,
.gallery .box .img-fluid {
  height: 100%;
}

.gallery .box-2,
.gallery .box-3 {
  height: 50%;
}

.gallery .box-2 {
  border-bottom: 10px solid #fff;
}
.gallery .box-3 {
  border-right: 10px solid #fff;
}
.gallery-wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-wrapper > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-wrapper {
  display: grid;
  grid-gap: 1.75rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
}
.gallery-wrapper .wide {
  grid-column: span 2;
}
.gallery .wide .desc {
  left: 0;
  width: 100%;
}
.gallery-wrapper .tall {
  grid-row: span 2;
}
.gallery-wrapper img:hover .desc h4 {
  color: var(--oren);
  cursor: pointer;
}
.gallery .box {
  position: relative;
}
.gallery .desc {
  position: absolute;
  bottom: 0;
  color: #fff;
}
.gallery .desc::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 35%,
    rgba(0, 0, 0, 0.5) 50%,
    transparent 100%
  );
  z-index: 1;
  opacity: 1;
  transition: opacity 550ms ease;
}
.gallery .desc h4 {
  position: relative;
  z-index: 898;
  font-weight: 800;
  font-size: 1.75em;
  padding: 1rem;
  color: #fff;
}

.anim-product {
  right: -5%;
  top: -20px;
}

/* Blog */
.blog {
  padding: 1rem 0;
  position: relative;
}

.blog-dots {
  left: 0;
  top: 0;
}

.blog .card {
  border: none;
}

.blog .tag {
  border: 1px solid var(--oren);
  padding: 0.25rem 0.5rem;
  margin-right: 0.85rem;
  font-size: 12pt;
}

.blog .date {
  font-size: 12pt;
  color: var(--dark-grey);
}
.blog .card-title {
  margin-top: 1rem;
  margin-bottom: 0;
}
.blog .card-body {
  padding: 1rem 0;
}
.blog .card-body a {
  color: inherit;
}
.blog .card-body a:hover {
  color: var(--oren);
}

.anim {
  position: relative;
}

.anim .anim-loop {
  position: absolute;
  animation: rotate 8s linear infinite;
}

.anim .anim-blog {
  top: 0;
  left: 10%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

/* paginate */
.pagination {
  padding-bottom: 4rem;
}
.pagination .page-link {
  border: none;
  color: var(--primary);
}
.pagination .page-link:hover {
  font-weight: 700;
  background-color: unset;
}

.page-item.active .page-link {
  z-index: 1;
  width: 30px;
  text-align: center;
  font-weight: 700;
  color: var(--primary);
  background-color: var(--oren);
  border-radius: 50%;
  border-color: transparent;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  position: relative;
  margin-top: 5rem;
}

.contact .row {
  gap: 2.5rem;
}

.contact-dots {
  right: 5%;
  top: -15%;
}

.contact .img-contact {
  position: relative;
}

.contact .img-contact .decor {
  position: absolute;
  bottom: 0;
  left: 0;
}

.contact form {
  color: var(--grey);
}
.contact .form-group .col-5 {
  width: 45%;
}
.contact .form-control::placeholder {
  color: var(--grey);
}

.contact .form-control:focus {
  box-shadow: none;
  border-bottom-color: #211f1d;
}

.contact .form-control {
  border-bottom: 1px solid var(--grey);
  padding: 0.55rem 0;
  margin: 1rem 0;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: var(--primary);
  padding: 0 0 15px 0;
  color: #fff;
  font-size: 14px;
}

#footer .logo img {
  padding: 0;
  margin: 0;
  max-height: 70px;
}

#footer .footer-btm .sub-footer {
  font-size: 16px;
  font-weight: 600;
  color: var(--oren);
  position: relative;
}

#footer .footer-btm {
  margin-bottom: 2rem;
  padding-top: 2rem;
}
#footer .footer-btm .logo {
  margin-bottom: 1rem;
}

.m-foot {
  margin-top: 3rem;
}

#footer .footer-btm li {
  margin-bottom: 0.8rem;
  list-style: none;
}
#footer .footer-btm li a {
  color: #fff;
}

#footer .footer-btm li a:hover {
  color: var(--oren);
}

#footer .cp-box ul {
  padding: 0;
}

#footer .cp-box ul li,
.cp-box ul li > a {
  display: table;
  line-height: 1.5;
  margin-bottom: 15px;
}
#footer .cp-box ul li .icon,
.cp-box ul li .text-f {
  display: table-cell;
  vertical-align: top;
}

.cp-box .icon {
  color: var(--oren);
  width: 30px;
}

.cp-box .icon::before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
}

.pin::before {
  content: "\f3c5";
}
.call::before {
  content: "\f879";
}
.fax::before {
  content: "\f1ac";
}
.mail::before {
  content: "\f0e0";
}

#footer ul li {
  list-style: none;
}

#footer .copyright {
  border-top: 1px solid var(--dark-grey);
  text-align: center;
  padding-top: 10px;
  margin-top: 1rem;
  color: var(--dark-grey);
}

/* modal */
.modal-body .form-control {
  border-bottom: 1px solid var(--dark-grey);
}
.modal-body .form-control:focus {
  box-shadow: unset;
}
